@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: #1abc9c; */
  background: teal;
  /* overflow: hidden; */
}

.Container {
  max-width: 440px;
  padding: 0 20px;
  margin: 110px auto;
}

.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
  height: 90px;
  background: rgb(2, 78, 78);
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  padding: 30px 25px 25px 25px;
}

.wrapper form .Row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .Row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .Row input:focus {
  border-color: rgb(2, 78, 78);
  box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

form .Row input::placeholder {
  color: #999;
}

.wrapper form .Row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: rgb(2, 78, 78);
  border: 1px solid rgb(2, 78, 78);
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .pass {
  margin: -8px 0 20px 0;
}

.wrapper form .pass a {
  color: rgb(2, 78, 78);
  font-size: 17px;
  text-decoration: none;
}

.wrapper form .pass a:hover {
  text-decoration: underline;
}

.wrapper form .button input {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  padding: 5px;
  border-radius: 30px;
  background: rgb(2, 78, 78);
  border: 1px solid rgb(2, 78, 78);
  cursor: pointer;
}

form .button input:hover {
  background: #12876f;
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}

.wrapper form .signup-link a {
  color: rgb(2, 78, 78);
  text-decoration: none;
}

form .signup-link a:hover {
  text-decoration: underline;
}

.header {
  background-color: rgb(2, 53, 53);
  padding: 4px;
  border-bottom: 4px solid #5cb85c;
}

.header h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.stars {
  position: relative;
  top: -30px !important;
}

.stars i {
  padding: 4px;
  color: rgb(255, 217, 4);
}

.card {
  box-shadow: 1px 1px 7px 1px rgb(254, 255, 255) !important;
}

.card img {
  opacity: 0.8;
}

.service {
  color: #01624f !important;
  font-size: 18px;
  padding-left: 6px;
}

/* Footer */

.footer3 {
  background-color: rgb(2, 53, 53);
  padding: 5px;
  margin-top: 25px;
  border-top: 1px solid rgb(47, 177, 35);
}

.footer3 p {
  color: #fff;
  font-size: 20px;
}

.card img {
  height: 200px;
}